<br>
<div class="container">
  <p-button label="Add Book" [routerLink]="['addBook']" routerLinkActive="active"></p-button>
</div><br>

<div class="container">
  <p-table [value]="books">
    <ng-template pTemplate="header">
      <tr>
        <th>Book Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
          <td>{{book.bookId}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.year}}</td>
        <td><button pButton class="ui-button-success" label="Edit" [routerLink]="['editBook', book._id]" routerLinkActive="active"></button></td>
        <td><button pButton class="ui-button-danger" label="Delete" [routerLink]="['deleteBook', book._id]" routerLinkActive="active"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
